<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
    {% else %}{{ site.title | escape }}{% endif %}
  </title>

  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">


  <meta name="og:title" content="{{ page.title | append: " - " | append: site.title | escape }}">
  <meta name="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="{{ site.url | append: site.baseurl | append: page.background | default: append: site.meta_image }}" />
  <meta property="og:image:width" content="{{ site.meta_image_witdh | default: 200 }}" />
  <meta property="og:image:height" content="{{ site.meta_image_height | default: 200 }}" />
  <meta property="og:locale" content="{{ site.meta_locale | default: "en_US"}}" />
  <meta property="og:type" content="article" />

  <meta name="twitter:title" content="{{ page.title | append: " - " | append: site.title | escape }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="twitter:image" content="{{ site.url | append: site.baseurl | append: page.background | default: append: site.meta_image }}" />
  <meta property="twitter:card" content="summary_large_image" />

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">

  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">

  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

</head>
